div.code {
  background-color: #e6f0ff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0 20px 0;
  font-weight: bold;
  font-size: larger;
}

.spoiler * {
  color: #ecf0f1 !important;
}

.spoiler:before {
  content: 'Spoiler:';
  font-weight: bold;
}